* {
  box-sizing: border-box !important;
}
.container {
  background-color: rgb(222, 162, 162);
  color: rgb(53, 6, 98);
  box-shadow: 0.1rem 0.1rem !important;
}
.border {
  border: 0.2rem solid rgb(53, 6, 98) !important;
}
.border-bottom {
  border-bottom: 0.2rem solid rgb(53, 6, 98) !important;
}
.border-start {
  border-left: 0.2rem solid rgb(53, 6, 98) !important;
}
.bg-dark {
  background-color: rgb(53, 6, 98) !important ;
}
/* For Desktop View */
@media screen and (min-width: 1024px) {
  * {
    font-size: 0.99rem;
  }

  img {
    height: auto !important;
    width: 90px !important;
  }
  .container {
    width: 60%;
  }
}

/* For Tablet View */
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  * {
    font-size: 0.9rem;
  }

  img {
    height: auto !important;
    width: 60px !important;
  }
  .container {
    width: 80%;
  }
}

/* For Mobile  View */
@media screen and (max-device-width: 480px) {
  * {
    font-size: 0.7rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  /* figcaption {
    padding-left: 0px !important;
  } */
  .container {
    width: 100%;
  }
  img {
    height: auto !important;
    width: 45px !important;
  }
}
